@main("Ajax sample") {
    <h1>JavaScriptとAjaxのサンプル</h1>
    <div id="ajax-enquete-list" class="col-full">
        <a href="#" onclick="open_registration_form(); return false;">新規登録</a>
        <h2>投稿済みアンケート一覧</h2>
        <div id="display-field" class="col-full"></div>
    </div>
    <div id="ajax-enquete-detail" class="col-half" style="display: none">
        <h2>アンケート #<span id="detail-id"></span></h2>
        <dl>
            <dt>投稿者名</dt>
            <dd id="detail-name"></dd>
            <dt>性別</dt>
            <dd id="detail-sex"></dd>
            <dt>感想</dt>
            <dd id="detail-impressions"></dd>
            <dt>投稿日時</dt>
            <dd id="detail-registered-at"></dd>
            <dt>最終更新日時</dt>
            <dd id="detail-updated-at"></dd>
        </dl>
        <button onclick="close_detail_form(); return false;">閉じる</button>
        <button onclick="delete_entry(); return false;">削除</button>
    </div>
    <div id="ajax-register-enquete" class="col-half" style="display: none">
        <h2>新規登録フォーム</h2>
        <span id="error-field" class="error"></span>
        <form id="registration-form">
            <dl>
                <dt>性別</dt>
                <dd>
                    <input type="radio" name="sex" value="male" required>男性
                    <input type="radio" name="sex" value="female" required>女性
                </dd>
                <dt>名前</dt>
                <dd>
                    <input type="text" name="name" autocomplete="on" required>
                </dd>
                <dt>感想</dt>
                <dd>
                    <textarea name="impressions" rows="10" cols="50" required></textarea>
                </dd>
            </dl>
            @helper.CSRF.formField
        </form>
        <button onclick="register_new(); return false;">送信</button>
        <button onclick="close_registration_form(); return false;">キャンセル</button>
    </div>
}