table {
  align: center;
  border: solid 1px #000000;
}
th {
  border: solid 1px #000000;
}
td {
  border: solid 1px #000000;
}
.tdlink {
  cursor: pointer;
  // display: block;
}
.tdlink:hover {
  background-color: #ff0000;
}