body {
    background-color: #3e3f41;
}
.servicebox {
    animation-name: fadein;
    animation-duration: 3s;
    padding: 130px 20px 10px;
    background: #f1f2f6;
    text-align: center;
    border-radius: 25px;
    overflow: hidden;
    position: relative;

}
.servicebox .service-icon {
    display: inline-block;
    width: 200px;
    height: 200px;
    line-height: 300px;
    border-radius: 10%;
    box-shadow: 0 0 5px #000 inset;
    background: linear-gradient(to top, #8633cb, #884fb7 50%, #6e6d7e 50%);
    font-size: 50px;
    color: white;
    position: absolute;
    top: -90px;
    left: 50%;
    transform: scale(1)translateX(-50%);
    transition: all 0.9s ease 0s;
}
.servicebox:hover .service-icon {
    font-size: 65px;
}
.servicebox .title {
    font-size: 18px;
    font-weight: 700;
    color: #333;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 0 10px 0;
}
.servicebox:hover .title {
    color: #8939cd;
}
.servicebox .description {
    font-size: 15px;
    color: #808080;
    letter-spacing: 1px;
    line-height: 27px;
    margin-bottom: 10px;
}
.servicebox .read-more {
    display: inline-block;
    padding: 5px 15px;
    font-size: 14px;
    font-style: italic;
    color: white;
    background: linear-gradient(to top, #8633cd, #884fb7);
    border-radius: 10px 10px 0 0;
    transform: translateY(50px);
    transition: all 0.3s ease 0s;
    text-decoration: none;
}
.servicebox .read-more:hover {
    color: white;
    box-shadow: 0 0 5px #000;

}
.servicebox:hover .read-more {
    transform: translateY(0);
}
/* yellow */
.servicebox.yellow {
    animation-name: fadein;
    animation-duration: 5s;
}
.servicebox.yellow .service-icon {
    background: linear-gradient(to top, #f1b02b, #fddb18 50%, #6e6d7e 50%);
}
.servicebox.yellow:hover .title {
    color: #f1b02b;
}
.servicebox.yellow .read-more {
    background: linear-gradient(to top, #f1b02b, #fddb18);
}
/* green */
.servicebox.green {
    animation-name: fadein;
    animation-duration: 6s;
}
.servicebox.green .service-icon {
    background: linear-gradient(to top, #50c338, #9dea28 50%, #6e6d7e 50%);
}
.servicebox.green:hover .title {
    color: #50c338;
}
.servicebox.green .read-more {
    background: linear-gradient(to top, #50c338, #9dea28);
}
/* blue */
.servicebox.blue {
    animation-name: fadein;
    animation-duration: 4s;
}
.servicebox.blue .service-icon {
    background: linear-gradient(to top,  #3498db,  #85c1e9 50%, #6e6d7e 50%);
}
.servicebox.blue:hover .title {
    color: #3498db;
}
.servicebox.blue .read-more {
    background: linear-gradient(to top, #3498db,  #85c1e9);
}

.start-text {
    animation-name: fadein;
    animation-duration: 2s;
    /*animation-iteration-count: infinite;*/
}
@keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
