
@(error: String)

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign In</title>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/login.css")">
</head>

<body>
<main>
    <div class="login-form">
        <form action="/signin" method="POST">
            <h1>Log In</h1>
            <font color="red">@error</font><br>
            <input type="text" class="txtb" name="name" autocomplete="on" placeholder="Username" required>
            <input type="password" class="txtb" name="pass" autocomplete="on" placeholder="Password" required>


            @helper.CSRF.formField
            <input class="login-btn" type="submit" value="Sign in">

        </form>
        <button class="login-btn" onClick="location.href='/'">戻る</button>
    </div>

</main>
<script src="@routes.Assets.versioned("/javascripts/jquery/jquery.js")"></script>
<script type="module" src="@routes.Assets.versioned("/javascripts/fetch/fetch.js")"></script>
</body>
</html>