@main("Todolist") {
    <h1>Task Manager</h1>
    <div id="ajax-todolist-list" class="col-full">
        <a href="#" onclick="open_registration_form(); return false;">新規登録</a>
        <h2>タスク一覧</h2>
        <div id="display-field" class="col-full"></div>
    </div>
    <div id="ajax-todolist-detail" class="col-half" style="display: none">
        <h2>タスク #<span id="detail-id"></span></h2>
        <dl>
            <dt>タスク名</dt>
            <dd id="detail-title"></dd>
        </dl>
        <button onclick="close_detail_form(); return false;">閉じる</button>
        <button onclick="edit_entry(); return false;">編集</button>
        <button onclick="delete_entry(); return false;">削除</button>
    </div>

    <div id="ajax-register-todolist" class="col-half" style="display: none">
        <h2>新規登録フォーム</h2>
        <span id="error-field" class="error"></span>
        <form id="registration-form">
            <dl>
                <dt>タスク名</dt>

                <dd>
                    <input type="text" name="title" autocomplete="on" required>
                </dd>
            </dl>
            @helper.CSRF.formField
        </form>
        <button onclick="register_new(); return false;">送信</button>
        <button onclick="close_registration_form(); return false;">キャンセル</button>
    </div>
}
