@(entries: java.util.List[models.sample.Enquete])

@entryRow(entry: models.sample.Enquete) = {
    <td class="id"><a href="/sample/enquete/@entry.id">@entry.id</a></td>
    <td class="name">@entry.name</td>
    <td class="date">@entry.updatedAt</td>
}

@main("ホーム") {
    <h1>アンケート</h1>
    <a href="/sample/enquete/register">新規登録</a>
    <h2>投稿済みアンケート一覧</h2>
    @if(entries.size() > 0) {
    <table id="enquete-list">
        <tr>
            <th>ID</th>
            <th>投稿者</th>
            <th>最終更新日時</th>
        </tr>
        @for(entry <- entries) {
        <tr>
            @entryRow(entry)
        </tr>
        }
    </table>
    } else {
    <p>投稿は一件もありません</p>
    }
}