@import models.sample.Enquete.SexTag

@register("性別入力") {
    <h2>性別入力</h2>
    <form id="sexForm" method="post" action="/sample/enquete/register/name">
        <dl>
            <dt><label>性別</label></dt>
            <dd>
            @for(sexTag: SexTag <- SexTag.values()) {
                <input type="radio" name="sex" value="@sexTag.name()" required>@sexTag.display()
            }
            </dd>
        </dl>
        @helper.CSRF.formField
        <input type="submit" value="送信">
    </form>
}