@main("成績") {

<div class="main">
    <form id="dummy-form">
        @helper.CSRF.formField
    </form>

    <div  id="first-section">
        <div  class="first-element" id="first-chart">
            <div id="first-radio">
                <input type="radio" name="first-radio" value="ave_grades" checked>平均点
                <input type="radio" name="first-radio" value="max_grades">最高点
            </div>
            <canvas  id="myChart1" ></canvas>
            <button class="button" id="acc-register-button" onclick="add_to_acc();">累積に追加する</button>
        </div>
        <div class="first-element" id="register-grade">
            <form id="register-form">
                科目名<br><input type="text" class="register-input" name="register-subject"><br>
                得点<br><input type="text" class="register-input" name="register-now"><br>
                タグ<br><input type="text" class="register-input" name="register-tag"><br>
                @helper.CSRF.formField
            </form>
            <button  onclick="register(); return false;">追加</button>

        </div>
    </div>
    <div class ="layer" id="edit-layer"></div>
    <div class="popup" id="edit-popup">
        <div>popup</div>
        <form id="edit-form">
            <span id="input-type"></span>:<input type="text" name="new-grade" class="input-number" id="edit-grade"><br>
            @helper.CSRF.formField
        </form>
        <span id="edit_button-field"></span>
    </div>

    <div id="chart-area2">
        <select name="sources" id="chart2-select" class="custom-select sources" placeholder="科目選択"></select>
        <canvas id="myChart2" ></canvas>
    </div>
</div>
}