@(name: String)
@main("成績") {
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/helper/@name" style="font-style: oblique; font-family: 'Arial Black', sans-serif;">
                <i class="fas fa-braille"></i>
                Study Helper
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/helper/@name">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">リンク</a>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            他の機能(この名称微妙なんで誰か考案ヨロピク)
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/calendar/month">カレンダー</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item active" href="/grades/@name">成績 <span class="sr-only">(current)</span></a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/chat/@name">掲示板</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">TO DO リスト</a>
                        </div>
                    </li>
                </ul>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#"><i class="fas fa-wrench"></i>&nbsp;アカウント管理</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-question"></i>&nbsp;Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt"></i>&nbsp;ログアウト</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="main">
        <form id="dummy-form">
            @helper.CSRF.formField
        </form>

        <div class="side-menu"></div>
        <div class="this-radio" id="tag-radio1">
            <input type="radio" name="tag-radio" id="on1" value="center" checked="">
            <label for="on1" class="switch-on">センター</label>
            <input type="radio" name="tag-radio" id="off1" value="niji">
            <label for="off1" class="switch-off">二次</label>
        </div>
        <div class="center">
            <div  class="first-section">
                <div  class="first-element" >
                    <div class="plus-icon" >
                        <i class="fa fa-plus"></i>
                    </div>
                    <div class="this-radio" id="chart1-radio-center">
                        <input type="radio" name="first-radio-center" id="on2" value="ave_grades" checked="">
                        <label for="on2" class="switch-on">平均点</label>
                        <input type="radio" name="first-radio-center" id="off2" value="max_grades">
                        <label for="off2" class="switch-off">最高点</label>
                    </div>
                    <canvas  id="myChart1-center" ></canvas>
                    <div class="no-grade" id="no-grade-center">成績が登録されてません</div>
                    <div class="add-acc-button"><a onclick="add_to_acc();">推移に追加する</a></div>

                </div>
            </div>

            <div class="chart-area2">
                <select class="chart2-select" id="chart2-select-center">

                </select>
                <canvas id="myChart2-center" ></canvas>
                <div class="no-grade" id="no-acc-center">成績推移が登録されてません</div>
            </div>
        </div>
        <div class="niji">
            <div  class="first-section">
                <div  class="first-element" >
                    <div class="plus-icon" >
                        <i class="fa fa-plus"></i>
                    </div>
                    <div class="this-radio" id="chart1-radio-niji">
                        <input type="radio" name="first-radio-niji" id="on3" value="ave_grades" checked="">
                        <label for="on3" class="switch-on">平均点</label>
                        <input type="radio" name="first-radio-niji" id="off3" value="max_grades">
                        <label for="off3" class="switch-off">最高点</label>
                    </div>
                    <canvas  id="myChart1-niji" ></canvas>
                    <div class="no-grade" id="no-grade-niji">成績が登録されてません</div>
                    <div class="add-acc-button"><a onclick="add_to_acc();">推移に追加する</a></div>
                </div>
            </div>
            <div class="chart-area2">
                <select class="chart2-select" id="chart2-select-niji">

                </select>
                <canvas id="myChart2-niji" ></canvas>
                <div class="no-grade" id="no-acc-niji">成績推移が登録されてません</div>
            </div>
        </div>

        <div class ="layer" id="edit-layer"></div>
        <div class="off" id="register-grade">
            <div class="slide-inner">
                <div id="register">
                    <form id="register-form">
                        <br>
                        科目名<br><input type="text" class="txtb" name="register-subject">
                        得点<br><input type="text" class="txtb" name="register-now">
                        @helper.CSRF.formField
                    </form>
                    <br>
                    <br>
                    <button class="button" onclick="register(); return false;">追加</button>
                </div>
            </div>
        </div>
        <div class="popup" id="edit-popup">
            <form id="edit-form">
                <br>
                自分の得点<br>
                <input type="text" name="new-grade" class="txtb" id="edit-grade"><br>
                @helper.CSRF.formField
            </form>
            <span id="edit_button-field"></span>
        </div>
    </div>
}