@import models.Task

@(entry: Task)

@main("更新") {
    <h1>投稿済みアンケートの編集</h1>
    <form method="post" action="/edit/update">
        <dl>
            <dt><label for="done">状態</label></dt>
            <dd>
                @if(entry.done) {
                <input type="radio" name="done" value="finish" required checked>完了
                <input type="radio" name="done" value="unfinish" required>未完了
                } else {
                <input type="radio" name="done" value="finish" required>完了
                <input type="radio" name="done" value="unfinish" required checked>未完了
                }
            </dd>
            <dt><label for="title">タスク名</label></dt>
            <dd><input type="text" name="title" value="@entry.title" required></dd>

        </dl>
        @helper.CSRF.formField
        <input type="submit" value="更新">
    </form>
}