#mini-calendar-result{
    width:100%;
    height:400px;
}
div.calendar-mini{
    width:100%;
    height:100%;
    font-family: Montserrat;
    font-weight: 80;




    user-select: none; /* CSS3 */
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Safari、Chromeなど */
    -ms-user-select: none; /* IE10かららしい */
}
div.week-mini{
    display: flex;
    color: #A8B2B9;
}
div.date-mini{
    border-right: 1px solid #e1e1e6;
    border-bottom: 1px solid #e1e1e6;
    text-align : right;
    width:14.15%;
    height:14.15%;
}
