.date-scheduler-wrapper {
    flex: 1 1 auto;
    overflow: hidden;
    position: relative;
}
.date-scheduler-all {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    outline: none;
}
.ynRLnc {
    clip: rect(1px,1px,1px,1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
.date-scheduler {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.date-scheduler-core {
    background-color: #fff;
    height: 100%;
    overflow: hidden;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    position: relative;
}
.date-scheduler-top{
    display: flex;
    flex: none;
}

.NBzXR {
    white-space: nowrap;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /*-webkit-box-flex: none;*/
    -webkit-flex: none;
    flex: none;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.ALy9T {
    min-width: 40px;
    margin-left: 1px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
.Pgg38c.Xc6hQ {
    margin-left: 0;
}
.Pgg38c.TzA9Ye {
    display: inline-block;
}
.Pgg38c {
    /* display: block; */
    visibility: hidden;
    overflow-y: hidden;
    height: 0;
    max-width: 80px;
}

.lmNFmc {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 40px;
    padding: 4px;
    white-space: nowrap;
}
.pCoqfc, .MANBAf {
    font-size: 10px;
    color: #3c4043;
}
.pCoqfc, .MANBAf {
    color: #70757a;
    -webkit-font-smoothing: subpixel-antialiased;
}
.nL44Lb, .sx5BGe {
    min-width: 40px;
}
.nL44Lb {
    position: absolute;
    left: 0;
    top: 0;
    display: table;
}
.Gk2izd {
    border-bottom: none;
    border-right: none;
    padding-right: 1px;
    position: relative;
    top: 72px;
}
.Gk2izd {
    display: table-cell;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* border-right: #dadce0 1px solid; */
    min-height: 24px;
    /* border-bottom: #dadce0 1px solid; */
    background-color: #fff;
    overflow: hidden;
    text-align: center;
    line-height: 24px;
}
.w61Ns {
    height: 20px;
    line-height: 20px;
    padding-right: 8px;
    text-align: right;
    margin-left: auto;
    min-width: 40px;
}
.w61Ns {
    max-width: 80px;
    overflow: hidden;
}
.H7IzGb {
    border-left: none;
    margin-left: -1px;
    /*-webkit-box-flex: 1 1 auto;*/
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}
.Pjfgme {
    /*top: 88px;*/
    position: absolute;
    top: 4px;
    left: 0;
    bottom: 0;
    right: 0;
    /*-webkit-box-flex: none;*/
    -webkit-flex: none;
    flex: none;
    pointer-events: none;
}


.Uit9Se {
    height: 92px;
    display: flex;
    /*-webkit-box-flex: none;*/
    -webkit-flex: none;
    flex: none;
    overflow: hidden;
}
.kxfKW {
    /*-webkit-box-flex: 1 1 auto;*/
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
}
.xsOpqe {
    width: 9px;
    min-width: 9px;
}
.eh5oYe .SU7tYb {
    /*-webkit-box-flex: 1 0 auto;*/
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
    width: 129px;
    min-width: 129px;
}
.R2tnIf {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    z-index: 2;
}
.SU7tYb {
    border-right: none;
    overflow: hidden;
    box-sizing: border-box;
}
.C5Jlgc {
    border-left: #dadce0 1px solid;
    bottom: 0;
    height: 20px;
    margin-left: -1px;
    position: absolute;
}
.fimTmc {
    margin-left: 8px;
    flex: none;
}
.rpCPrc {
    text-align: center;
    width: 100%;
    font-weight: 400;
    margin: 0;
}
.qAeuG.F262Ye {
    color: #1a73e8;
}
.qAeuG, .qAeuG.N4XV7d, .qAeuG.pCcXPe {
    /* color: #70757a; */
    font-size: 11px;
    font-weight: 500;
    letter-spacing: .8px;
    margin-left: 0;
    margin-top: 12px;
    text-indent: .8px;
    text-transform: uppercase;
}
.qAeuG {
    line-height: 32px;
    position: relative;
    z-index: 2;
}
.KSxb4d, .KSxb4d.N4XV7d, body.geSgge .KSxb4d, body.geSgge .KSxb4d.N4XV7d {
    font-variant: tabular-nums;
    /* -webkit-font-feature-settings: "tnum" 1; */
    font-feature-settings: "tnum" 1;
    letter-spacing: -2.6px;
    text-indent: -2.6px;
}
.KSxb4d, .KSxb4d.N4XV7d, body.geSgge .KSxb4d, body.geSgge .KSxb4d.N4XV7d {
    /* -webkit-border-radius: 100%; */
    border-radius: 100%;
    /* color: #3c4043; */
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    /* font-size: 26px; */
    line-height: 46px;
    height: 46px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -7px;
    width: 46px;
}
.KSxb4d {
    position: relative;
    z-index: 2;
}
.KSxb4d {
    background-color: #1a73e8;
    color: white;
    font-size: 25px;
}

.wcMO4d {
    overflow: scroll;
    visibility: hidden;
    flex: none;
}
.jRJqje {
    transition: max-height 300ms cubic-bezier(0.4,0.0,0.2,1);
    overflow: hidden;
    position: relative;
    /* font-size: 24px; */
    max-height: 3em;
    font-size: 20px;
    overflow-x: scroll;
    display: flex;
}

.xsOpqe {
    width: 9px;
    min-width: 9px;
}
.GFiTfe {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.MVMVEe {
    position: relative;
    flex: 1 0 auto;
    /* -webkit-align-self: flex-start; */
    align-self: flex-start;
    overflow: hidden;
    border-left: #dadce0 1px solid;
    border-right: 1px solid transparent;
    margin-left: -1px;
}

.ZHdPfd {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.yEkOpe:last-child {
    border-right: none;
}
.eh5oYe .yEkOpe {
    /* -webkit-box-flex: 1 0 128px; */
    -webkit-flex: 1 0 128px;
    flex: 1 0 128px;
    min-width: 128px;
}
.eh5oYe .GFiTfe .uj9dId {
    /* -webkit-box-flex: 1 0 129px; */
    -webkit-flex: 1 0 129px;
    flex: 1 0 129px;
    min-width: 0;
}
.rES0Be {
    font-size: 20px;
    /* height: 20px; */
    display: flex;
    position: relative;
    overflow: hidden;
}
.MVMVEe .rES0Be {
    -webkit-transition: margin-bottom 300ms cubic-bezier(0.4,0.0,0.2,1),height 300ms cubic-bezier(0.4,0.0,0.2,1);
    transition: margin-bottom 300ms cubic-bezier(0.4,0.0,0.2,1),height 300ms cubic-bezier(0.4,0.0,0.2,1);
}
.eADW5d {
    /* -webkit-box-flex: 1 1 0%;
    -webkit-flex: 1 1 0%;
    flex: 1 1 0%; */
    border-right: 1px solid transparent;
}
.ynRLnc {
    clip: rect(1px,1px,1px,1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
.Xk5jT {
    overflow-y: scroll;
    visibility: hidden;
    /*-webkit-box-flex: none;*/
    -webkit-flex: none;
    flex: none;
    max-height: 20px;
}
.date-scheduler-main {
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    border-top: 0;
    /*-webkit-box-flex: 1 1 60%;*/
    -webkit-flex: 1 1 60%;
    flex: 1 1 60%;
}

.date-scheduler-main-core {
    overflow: scroll;
    -webkit-align-items: stretch;
    align-items: stretch;
    display: flex;
    flex: 1 1 auto;
}
.date-scheduler-main-core::before {
    -webkit-box-shadow: inset 0 1px 1px 0 rgba(0,0,0,.14), inset 0 2px 1px -1px rgba(0,0,0,.12);
    box-shadow: inset 0 1px 1px 0 rgba(0,0,0,.14), inset 0 2px 1px -1px rgba(0,0,0,.12);
    content: "";
    height: 4px;
    position: absolute;
    width: -webkit-calc(100% - 16px);
    width: calc(100% - 16px);
    z-index: 504;
}
.date-scheduler-main-core::after {
    background-image: linear-gradient(to left,white,rgba(255,255,255,0));
    content: "";
    height: 2px;
    position: absolute;
    right: 16px;
    width: 80px;
    z-index: 504;
}
.left-time {
    height: auto;
    min-width: 40px;
    /* overflow-y: hidden; */
    flex: none;
    display: flex;
    align-items: flex-start;
}
.left-time::before {
    background-image: linear-gradient(to right,white,rgba(255,255,255,0));
    content: "";
    height: 2px;
    position: absolute;
    width: 80px;
    z-index: 504;
}
.GENA3c {
    box-sizing: border-box;
    background-color: #fff;
    position: relative;
    margin-left: auto;
    border-right: none;
}
.s4ZaLd {
    position: relative;
    height: 40px;
    padding-right: 8px;
    text-align: right;
}
.s4ZaLd:first-child>.ebZ3od {
    display: none;
}
.pCoqfc, .MANBAf {
    font-size: 10px;
    color: #70757a;
    -webkit-font-smoothing: subpixel-antialiased;
}
.ebZ3od {
    /* display: block; */
    position: relative;
    top: -6px;
}
::-webkit-scrollbar {
    background: transparent;
    height: 8px;
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: #dadce0;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    min-height: 40px;
}
::-webkit-scrollbar-thumb {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #ddd;
    min-height: 40px;
}
.date-scheduler-core::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

.right-time-space {
    /* overflow-x: auto; */
    /* overflow-y: scroll; */
    display: flex;
    /* -webkit-align-items: flex-start; */
    align-items: flex-start;
    flex: 1 1 auto;
}

.cOpq4e {
    position: relative;
    overflow: hidden;
    min-width: 100%;
    /* -webkit-box-flex: none; */
    -webkit-flex: none;
    flex: none;
    /*display: -webkit-inline-box;*/
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: top;
}
.wyrRZc {
    border-top: #dadce0 1px solid;
}
.EdAri {
    width: 8px;
    border-right: #dadce0 1px solid;
}
.mmsF1c {
    height: 40px;
}
.mmsF1c::after {
    content: '';
    border-bottom: #dadce0 1px solid;
    position: absolute;
    width: 100%;
    margin-top: -1px;
    z-index: 3;
    pointer-events: none;
}
.YvjgZe.Qbfsob {
    border-right: white 1px solid;
    overflow: visible;
}
.YvjgZe {
    /*-webkit-box-flex: 1 0 auto;*/
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
    width: 129px;
    min-width: 129px;
    position: relative;
    padding-right: 12px;
    box-sizing: border-box;
}
.H3tRZe {
    position: absolute;
    z-index: 504;
    border-top: #ea4335 solid 2px;
    left: 0;
    right: -1px;
    pointer-events: none;
}
.h11RHc {
    background: #ea4335;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    content: "";
    position: absolute;
    height: 12px;
    margin-left: -6.5px;
    margin-top: -5px;
    width: 12px;
    z-index: 504;
}
.WJVfWe {
    position: relative;
    height: 100%;
    width: 100%;
}

/************************************************* event bar *********************************************************/
.EfQccc.jKgTF {
    cursor: pointer;
}
.EfQccc {
    position: absolute;
    border-radius: 4px;
    outline: none;
    margin-left: -1px;
    margin-top: 1px;
}
.EfQccc::before {
    -webkit-box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.2);
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.2);
    opacity: 0;
    transition: opacity 100ms linear;
}
.EfQccc::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    pointer-events: none;
}
.Jmftzc.EiZ8Dd, .FAxxKc {
    color: #fff;
}
.Jmftzc {
    font-size: 12px;
    line-height: 15px;
    overflow: hidden;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
}
.Jmftzc.RIOtYe {
    font-weight: 400;
    letter-spacing: .4px;
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
}