@import java.text.SimpleDateFormat
@import helper._

@(threadid: Long, comments: List[Comment], username:String,isfav:Int)


@main_page("chat"){
<form id="dummy-form">
    @helper.CSRF.formField
</form>
<div class="back" onclick='location.href="/chat/@username"'><i class="far fa-arrow-left"></i>戻る</div>
<div class="chat-title"></div>
<div class="chat-display">

    <div id="field">
        @for(comment <- comments) {
            @if(comment.imagepath=="なし"){
                @if(comment.username==username) {
                <div class="kaiwa">

                    <div class="kaiwa-text-left">
                        <div class="username-label">@comment.username さん   @(new SimpleDateFormat("yyyy-MM-dd-hh:mm:ss").format(comment.registeredAt)) </div>
                        <p class="kaiwa-text">
                            @comment.comment
                        </p>
                    </div>
                </div>
                } else {
                <div class="kaiwa">
                    <div class="kaiwa-text-right">
                        <div class="username-label">@comment.username さん   @(new SimpleDateFormat("yyyy-MM-dd-hh:mm:ss").format(comment.registeredAt)) </div>
                        <p class="kaiwa-text">
                            @comment.comment
                        </p>
                    </div>
                </div>
                }
            }else{
                @if(comment.username==username) {
                <div class="kaiwa">

                    <div class="kaiwa-text-left">
                        <div class="username-label">@comment.username さん   @(new SimpleDateFormat("yyyy-MM-dd-hh:mm:ss").format(comment.registeredAt)) </div>
                        <p class="kaiwa-text">
                            <img src="@comment.imagepath">
                        </p>
                    </div>
                </div>
                } else {
                <div class="kaiwa">
                    <div class="kaiwa-text-right">
                        <div class="username-label">@comment.username さん   @(new SimpleDateFormat("yyyy-MM-dd-hh:mm:ss").format(comment.registeredAt)) </div>
                        <p class="kaiwa-text">
                            <img src="@comment.imagepath">
                        </p>
                    </div>
                </div>
                }
            }
        }
    </div>
</div>
<div class="scroll-to-bottom"><div class="sankaku"></div></div>
@if(isfav==0) {
    <div id="fav-button" style="background-color:#f1f1f1;" onclick="add_to_fav()">
        <i class="far fa-star"></i>
    </div>
} else {
    <div id="fav-button" style="background-color:yellow;" onclick="add_to_fav()">
        <i class="far fa-star"></i>
    </div>
}

<div class="create-thread" id="create-thread">
    <form id="add-comment-form">
        <br>
        <textarea cols="30" rows="3" name="comment" class="txtb" id="input-comment"></textarea><br>
        <input type="hidden" id="username" name="username" value="@username">
        <input type="hidden" id="threadid" name="threadid" value="@threadid">
        @helper.CSRF.formField
    </form>
    <div id="add-comment-button" class="button" onclick="add_comment();">
        <i class="far fa-comment fa-flip-horizontal"></i>
    </div>

    <form action="/chat/photo/add" method="post" id="pictureform" class="pictureform" enctype="multipart/form-data" target="sendData">
        @helper.CSRF.formField
        <label for="file_upload"><i class="far fa-image"></i>
            <input type="file" id="file" name="picture" onchange="$('#file-name').val($(this).val())">
            <input type="text" id="file_upload" onClick="$('#file').click();">
            <input type="hidden" name="username" value="@username">
            <input type="hidden" name="threadid" value="@threadid">

        </label>
        <label for="image-submit" ><i class="far fa-arrow-right"></i>
            <input type="submit" id="image-submit">
        </label>
        <br>
        <input type="text" id="file-name" size="20" readonly>
        <br>
        <span id="advice">画像が表示されない場合はページを更新してみてください.</span>
    </form>

    <iframe name="sendData" style="width:0px;height:0px;border:0px;"></iframe>





</div>


}