@(name: String)

@main_top("Chat") {
<br>
<br>
<br>
<br>
<button onclick="show_thread_form()">登録</button>
<button onclick="show_mythread_list()">my</button>
<button onclick="show_allthread_list()">all</button>
<button onclick="show_favthread_list()">fav</button>
<div id="field"></div>

<div class="popup" id="create-thread">
    <form id="create-thread-form">
        <br>
        タイトル(30文字まで)<br>
        <textarea cols="30" rows="3" name="threadname"  id="input-thread-title" maxlength="30" placeholder="今何してる？"></textarea><br>
        <input type="hidden" id="username" name="username" value="@name">
        @helper.CSRF.formField
    </form>
    <button class="button" onclick="create_thread();">作成する</button>
</div>
<div class ="layer" id="layer"></div>

}