@(name: String)

@main("さあ、始めよう") {
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/helper/@name" style="font-style: oblique; font-family: 'Arial Black', sans-serif;">
                <i class="fas fa-braille"></i>
                    Study Helper
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/helper/@name">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">リンク</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            他の機能(この名称微妙なんで誰か考案ヨロピク)
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/calendar/month">カレンダー</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/grades/@name">成績</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/chat/@name">掲示板</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">TO DO リスト</a>
                        </div>
                    </li>
                </ul>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user" data-toggle="tooltip" data-html="true" title="Study Helper アカウント<br>@name さん"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#"><i class="fas fa-wrench"></i>&nbsp;アカウント管理</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-question"></i>&nbsp;Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt"></i>&nbsp;ログアウト</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h2 class="start-text" style="text-align: center">さあ、始めよう！</h2>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="demo">
        <div class="container">
            <div class="row">

                <div class="col-md-3">
                    <div class="servicebox">
                        <div class="service-icon">
                            <i class="far fa-calendar-alt"></i>
                        </div>
                        <h3 class="title">カレンダー</h3>
                        <p class="description">
                            スケージュールを管理して計画的に勉強を進めよう！
                        </p>
                        <a href="/calendar/month" class="read-more">今すぐ始める</a>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="servicebox blue">
                        <div class="service-icon">
                            <i class="fas fa-chart-pie"></i>
                        </div>
                        <h3 class="title">成績</h3>
                        <p class="description">
                            something....<br>
                            something....
                        </p>
                        <a href="/grades/@name" class="read-more">今すぐ始める</a>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="servicebox yellow">
                        <div class="service-icon">
                            <i class="fas fa-comments"></i>
                        </div>
                        <h3 class="title">掲示板</h3>
                        <p class="description">
                            something....<br>
                            something....
                        </p>
                        <a href="/chat/@name" class="read-more">今すぐ始める</a>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="servicebox green">
                        <div class="service-icon">
                            <i class="fas fa-list-alt"></i>
                        </div>
                        <h3 class="title">TO DO リスト</h3>
                        <p class="description">
                            something....<br>
                            something....
                        </p>
                        <a href="" class="read-more">今すぐ始める</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
}